@model GenericViewModel.Web.Models.Home.GenericModel

<br />
<div>
	@Html.TextBoxFor(model => model.Name)
</div>
<div>
	<div>SubModel type: @Model.SubModel.GetType().Name</div>
	@Html.EditorFor(model => model.SubModel)
</div>